In [1]:
#Assignment 4: Perform feature engineering operations on raw data
import numpy as np
import pandas as pd

In [2]:
# Load the Titanic dataset
titanic_data = pd.read_csv("train_dataset_4.csv")

In [3]:
# Display the first few rows of the dataset
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:

# Perform feature engineering

# 1. Extract titles from the 'Name' column
titanic_data['Title'] = titanic_data['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

In [5]:
# 2. Create a new feature 'FamilySize' by combining 'SibSp' and 'Parch' columns
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch'] + 1

In [6]:
# 3. Create a new feature 'IsAlone' indicating whether a passenger is alone or not
titanic_data['IsAlone'] = 0
titanic_data.loc[titanic_data['FamilySize'] == 1, 'IsAlone'] = 1

In [7]:
# 4. Convert 'Sex' feature into numerical
titanic_data['Sex'] = titanic_data['Sex'].map({'male': 0, 'female': 1})

In [8]:

# 5. Convert 'Embarked' feature into numerical and fill missing values with the most common one
titanic_data['Embarked'] = titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0])
titanic_data['Embarked'] = titanic_data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [9]:
# 6. Fill missing values in 'Age' column with median age
titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())

In [10]:
# Display the modified dataset
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin  Embarked Title  FamilySize  IsAlone
0         A/5 21171   7.2500   NaN         0    Mr           2        0
1          PC 17599  71.2833   C85         1   Mrs           2        0
2  STON/O2. 3101282   7.9250   NaN         0  Miss           1        1
3            113803  53.1000  C123         0   Mrs           2        0
4            373450   8.0500   NaN         0    Mr           1        1